# Virtual environment
venv/
.venv/
env/

# Environment variables / Secrets
.env

# Python cache / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# OS specific files
.DS_Store
Thumbs.db
